li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
  font-size: 25px;
}
ul {
  list-style-position: inside;
  list-style-type: none;
}

h2{
  text-decoration: underline;
  padding: 20px;
}

.jumbotron{
  height: 230px;
  width: 100%;
  background: whitesmoke url("../image/burgerheader.jpg") no-repeat -100px 0px;
  background-size: 1500px 250px;
  opacity: 0.5;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
